@charset "UTF-8";

h1 {
	text-align: center;
}

body {
	color: white;
	background-image:
		url("https://image.freepik.com/free-photo/fresh-baby-spinach-leaves-bowl-eggs-wooden-table-top-view-copy-space_127032-2246.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}