@charset "UTF-8";

h1 {
	text-align: center;
}

body {
	color: white;
	background-image:
		url("https://c1.wallpaperflare.com/preview/467/176/26/appetizer-dark-delicious-dining.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}